.main-title {
    padding-top: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive;
    font-size: 70px;
    color: #ff4081;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.input {
    margin: 15px;
}

.search-button {
    font-size: 20px;
}

.search {
    display: flex;
    justify-content: center;
}