.subtitle {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: 'Concert One', cursive;
  font-size: 50px;
  color: #31DDF1;
}

.favorites-list {
  margin-top: 150px;
}

.content {
  margin-top: 100px;
}
